.card{
    height: auto;
    width: 20rem;
    background-color: #3a3e47;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.card img {
    border-radius: 0.5rem;
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.card h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.card p {
    font-size: 1rem;
    color: #d1d0d0;
}

.card button {
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

